.container{
    max-width: 1300px;
    margin: 0 auto;
}

.user_sec{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0 auto;
    width: 1200px;
    justify-content: center;
    padding-top: 60px;
    
    

}
.wq{
    font-size: 35px;
    margin: 80px 0 20px 0;
    font-weight: 600;
}

.us_one{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border: 2px solid black;
    padding: 25px 40px;
    gap: 25px;
   
 
}
.ee{
    font-weight: 600;
}

.message{
    font-size: 25px;
}

.form button{
font-size: 20px;
color: rgb(255, 255, 255);
margin-left:30px ;
background-color: rgba(0, 0, 0, 0.367);
cursor: pointer;

}
